.homePage {
  display: flex;
  flex-direction: row;
  height: 100%;
  width: 100%;
 
}


.homeCard {
  background-image: url(../assets/survey.jpg);
  background-size: cover;
  background-position: center center;
 padding: 2px;
  border: 1.2px solid #00b4eb;
  border-radius: 50px;
  display: flex;
  margin:15px;
  margin-top: 20px;
  justify-content: space-between;
  display: flex;
  flex-direction:column;
  width: 200px;
  height: 210px;
  align-items: center;
 
  box-shadow: 0 1px 1px rgba(59, 17, 155, 0.1), 0 2px 2px rgba(59, 17, 155, 0.1),
    0 4px 4px rgba(59, 17, 155, 0.1), 0 8px 8px rgba(59, 17, 155, 0.1),
    0 16px 16px rgba(59, 17, 155, 0.1);
}
.homeCard1 {
  background-image: url(../assets/survey.jpg);
  background-size: cover;
  background-position: center center;
 padding: 2px;
  border: 1.2px solid #00b4eb;
  border-radius: 50px;
  display: flex;
  margin:15px;
  margin-top: 20px;
  justify-content: center;
  display: flex;
  flex-direction:column;
  width: 200px;
  height: 210px;
  align-items: center;
 
  box-shadow: 0 1px 1px rgba(59, 17, 155, 0.1), 0 2px 2px rgba(59, 17, 155, 0.1),
    0 4px 4px rgba(59, 17, 155, 0.1), 0 8px 8px rgba(59, 17, 155, 0.1),
    0 16px 16px rgba(59, 17, 155, 0.1);
}

.homeDiv {
  padding-top: 50px;
  justify-content: center;
  padding-left: 350px;
  width: 1800px;
  display: flex;
  flex-direction: row;
  align-items: center;
  display: flex;
}


.tempList {
  background-image: linear-gradient(
    to right top,
    #ffed92,
    #c4e996,
    #89e1a8,
    #4dd4c0,
    #00c4d3,
    #1cc4d6,
    #2bc3d9,
    #38c3dc,
    #5cd4d7,
    #84e3d1,
    #abf1ce,
    #d2fdcf
  );
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  padding-left: 5px;
  margin-top: 50px;
  border-radius: 12px;
  border: 0.1px;
  height: 31rem;
  flex-wrap: wrap;
  overflow: hidden;
  width: 46.3rem;
  text-align: center;
  box-shadow: 0 1px 1px #115570, 0 2px 2px #115570, 0 4px 4px #115570,
    0 8px 8px #115570, 0 16px 16px #115570;
}

.homeCard:hover {
  font-size: 150px;
  border: 3px solid #a182ce;
}
.homeCard1:hover {
  font-size: 150px;
  border: 3px solid #a182ce;
}
