.homeCard{
    display: flex;
   
    margin-top: 20px;
justify-content: center;
width: 200px;
height: 200px;
align-items: center;

}
li{

    display: flex;
    flex-direction: row;
    
}
.homeDiv{

    display: flex;
    flex-direction: row;
    

}