code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;

  /* background-image: linear-gradient(to right top,#ffed92,#c4e996,#80d89f,#4dd4c0,#1b7e85,#f7efc7,#2bc3d9,#38c3dc,#5cd4d7,#74c5cf, #abf1ce,#ffed92
  ); */
  background-attachment : fixed;
  display: block;
 
  margin-top: 64px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

body {
  display: flex;
  background: linear-gradient(to right top, #c9da81,#5cd4d7,#4dd4c0,#38c3dc,#5cd4d7,#74c5cf, #abf1ce,#ffed92);

  margin: 0;
 
  margin: 0;
  background-attachment : fixed;
  font-family: var(--mdb-body-font-family);
  font-size: var(--mdb-body-font-size);
  font-weight: var(--mdb-body-font-weight);
  line-height: var(--mdb-body-line-height);
  color: var(--mdb-body-color);
  text-align: var(--mdb-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
.wrapper{
  box-sizing: border-box;
justify-content: stretch;
height: 90vh;
width: 100vw;
display: flex;
/* height: 700px;
width:1750px ; */
background: url('./assets/3d-customer-survey-data-analysis-background-rendered-image_18199-176.webp');
background-size: cover;
background-position: right, center;
background-blend-mode: multiply;
background-repeat: no-repeat;


}
.loginImage{
  
}



.custom-shape-divider-bottom-1648396759 {
position: absolute;
bottom: 0;
left: 0;
width: 100%;
overflow: hidden;
line-height: 0;
transform: rotate(180deg);


}

.custom-shape-divider-bottom-1648396759 svg {
position: relative;
display: block;
width: calc(132% + 1.3px);
height: 200px;

}


.custom-shape-divider-bottom-1648396759 .shape-fill {
fill: rgba(255, 255, 255, 0.89);
height: 100px;



}


