code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.App {
  text-align: center;

  /* background-image: linear-gradient(to right top,#ffed92,#c4e996,#80d89f,#4dd4c0,#1b7e85,#f7efc7,#2bc3d9,#38c3dc,#5cd4d7,#74c5cf, #abf1ce,#ffed92
  ); */
  background-attachment : fixed;
  display: block;
 
  margin-top: 64px;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  background-position: center center;
}

body {
  display: flex;
  background-image: linear-gradient(to right top,#ffed92,#c4e996,#5cd4d7,#4dd4c0,#38c3dc,#5cd4d7,#74c5cf, #abf1ce,#ffed92
  );

  margin: 0;
  width: 2500px;
  height: 2500px;
  margin: 0;
  background-attachment : fixed;
  font-family: var(--mdb-body-font-family);
  font-size: var(--mdb-body-font-size);
  font-weight: var(--mdb-body-font-weight);
  line-height: var(--mdb-body-line-height);
  color: var(--mdb-body-color);
  text-align: var(--mdb-body-text-align);
  -webkit-text-size-adjust: 100%;
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
}
